body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right, #4701b8, #0d25fe);
}

p,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(to right, #4701b8, #0d25fe);
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .content {
  padding: 70px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 90%;
  margin: auto;
}

.hero .content h1 {
  font-size: 80px;
  padding: 5px;
}

#prevent {
  height: 100vh;
}

#prevent .box img {
  width: 80px;
  height: 80px;
}

.hero .content h2 {
  font-size: 45px;
  font-weight: 300;
  padding: 5px;
}

.hero .content p {
  width: 490px;
  line-height: 30px;
  text-align: justify;
  font-size: 15px;
  padding: 5px;
}

.img-covid {
  width: 40%;
}

.button {
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 6px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  color: white;
  background-image: linear-gradient(to right, #4701b8, #0d25fe);
  transition: 0.5s ease-in-out;
}

ul {
  list-style: none;
}

#prevent {
  height: 100vh;
}

#prevent .box img {
  width: 80px;
  height: 80px;
}

#prevent .box {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#prevent .box .bg-box {
  background-color: rgb(247, 247, 247);
  margin: 0 10px;
  padding: 10px;
  border-radius: 20px;
}

#prevent h1{
  color: #ffffff;
  font-size: 30px;
}

#prevent .box .bg-box h3 {
  color: rgb(0, 166, 243);
}

#prevent .box .bg-box img {
  width: 160px;
  height: 160px;
}

#prevent .box .bg-box p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

#prevent .box .bg-box {
  margin-top: 50px;
  height: 400px;
  width: 250px;
  box-shadow: 0px 0px 15px rgb(41, 40, 40);
  transition-duration: 0.4s;
}

#prevent .box .bg-box:hover {
  margin-top: 40px;
  background-color: #ffffff;
  border-bottom: 5px solid red;
}

#prevent .box .bg-box p {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

/* Footer */
footer {
  margin: auto;
  border-top: 4px solid #eee;
  /* height: 40vh; */
  /* background-color: rebeccapurple; */
  color: white;
  padding: 20px 0;
  box-sizing: border-box;
}

footer .subscribe {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  padding-top: 10px;
  box-sizing: border-box;
}

footer .subscribe input {
  margin-top: 2px;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 0px;
}

footer .subscribe .send {
  width: 80px;
  position: relative;
  height: 30px;
  right: 16px;
  background-color: royalblue;
  border: 0;
  border-radius: 0 10px 10px 0;
  color: white;
}

footer .subscribe .send:hover {
  background-color: teal;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

footer .subscribe input:focus {
  outline: none;
}

footer .info {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

/* font */
.roboto {
  font-family: "Montserrat", sans-serif;
}

.rubik {
  font-family: "Rubik", sans-serif;
}
