body {
    padding: 0;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, #4701b8 , #0d25fe);
    background-size: 100%;
    background-repeat: no-repeat;

  padding: 0;
  margin: 0;
}

p,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}

.hero {
    display: flex;
    justify-content: flex-start;
}

.hero .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    padding-top: 100px;
    padding-left: 60px; 
    padding-right: 600px;
}

.hero .content h1 {
    font-size: 60px;
    padding: 10px;
}

.hero .content h2 {
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
}

.hero .content p {
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.img-covid {
    width: 200px;
}

.button {
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px
}
ul {
  list-style: none;
}

.hero {
  height: 100%;
  background-color: red;
  background-image: linear-gradient(to right, #93e3ee, #0dd4fe);
  background-size: cover;
}

#prevent {
  height: 100vh;
}

#prevent .box img {
  width: 80px;
  height: 80px;
}

#prevent .box {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#prevent .box .bg-box {
  background-color: rgb(185, 224, 236);
  margin: 0 10px;
  padding: 10px;
  border-radius: 20px;
}

#prevent .box .bg-box p {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

/* Footer */
footer {
  margin: auto;
  /* height: 40vh; */
  background-color: rebeccapurple;
  color: white;
  padding: 20px 0;
  box-sizing: border-box;
}

footer .subscribe {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  padding-top: 10px;
  box-sizing: border-box;
}

footer .subscribe input {
  margin-top: 2px;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 0px;
}

footer .subscribe .send {
  width: 80px;
  position: relative;
  height: 30px;
  right: 16px;
  background-color: royalblue;
  border: 0;
  border-radius: 0 10px 10px 0;
  color: white;
}

footer .subscribe .send:hover {
  background-color: teal;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

footer .subscribe input:focus {
  outline: none;
}

footer .info {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}