html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right, #4701b8, #0d25fe);
  background-repeat: no-repeat;
}

p,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

/* font */
.roboto {
  font-family: "Montserrat", sans-serif;
}

.rubik {
  font-weight: 800;
  color: white;
  text-align: center;
}

/* header */
header {
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  line-height: 100px;
}

header h2 {
  font-size: 20px;
}

header ul li {
  width: 120px;
  text-align: center;
}

header ul.menu {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

header ul li:hover {
  color: #00e200;
  transition: 0.5s ease-in-out;
}

/* hero */
.hero {
  width: 90%;
  margin: auto;
  height: 100vh;
}

.hero .content {
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 90%;
  margin: auto;
}

.hero .content h1 {
  font-size: 80px;
  padding: 5px 0;
}

#prevent {
  height: 100vh;
}

#prevent .box img {
  width: 80px;
  height: 80px;
}

.hero .content h2 {
  font-size: 45px;
  font-weight: 300;
  padding: 5px;
}

.hero .content p {
  width: 490px;
  line-height: 30px;
  text-align: justify;
  font-size: 15px;
  padding: 5px;
}

.img-covid {
  width: 40%;
  left: 100%;
}

.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 6px;
  cursor: pointer;
  border-radius: 20px;
  background-image: linear-gradient(to left, #4701b8, #0d25fe);
}

.button:hover {
  color: white;
  background-image: linear-gradient(to right, #4701b8, #0d25fe);
  box-shadow: 1px 1px 20px #260064;
  transition: 0.2s ease-in-out;
}

ul {
  list-style: none;
}

/* domain */

#domain {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

#domain .list-domain {
  flex-direction: row;
  display: flex;
}

#domain .list-domain .list-bg {
  background-color: white;
  padding: 20px;
  margin-left: 2px;
  color: black;
}

#domain .list-domain .list-bg .list-bg-details {
  position: relative;
  background-color: yellow;
  left: 0;
  top: 0;
  height: 60px;
}

/* prevent */

#prevent {
  margin-top: 20px;
}

#prevent .box img {
  width: 80px;
  height: 80px;
}

#prevent .box {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#prevent .box .bg-box {
  background-color: rgb(185, 224, 236);
  margin: 0 10px;
  padding: 10px;
  border-radius: 20px;
}

#prevent .box .bg-box h3 {
  color: rgb(31, 182, 107);
}

#prevent .box .bg-box img {
  width: 160px;
  height: 160px;
}

#prevent .box .bg-box p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

#prevent .box .bg-box {
  margin-top: 50px;
  height: 400px;
  width: 250px;
  box-shadow: 0px 0px 10px rgb(230, 227, 227);
  transition-duration: 0.4s;
}

#prevent .box .bg-box:hover {
  margin-top: 40px;
  background-color: #ffffff;
  border-bottom: 6px solid red;
}

#prevent .box .bg-box p {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

/* contact-us */
#contact-us {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  /* flex-direction: column; */
}

#contact-us form {
  width: 600px;
  display: flex;
  flex-direction: column;
}

#contact-us form input {
  width: 80%;
  height: 40px;
  border-radius: 40px;
  border: 0px;
  outline: none;
  margin-right: 10px;
}

#contact-us form textarea {
  margin-top: 10px;
  border-radius: 40px;
  outline: none;
  width: 100%;
}

#contact-us form .input-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Footer */
footer {
  margin: auto;
  border-top: 4px solid #eee;
  color: white;
  padding: 20px 0;
  box-sizing: border-box;
}

footer .subscribe {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  padding-top: 10px;
  box-sizing: border-box;
}

footer .info {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

footer .footer {
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
}
