body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
}

.text-center {
  text-align: center;
}

p,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

header {
  height: 100px;
  line-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  border-bottom: 2px solid black;
}

header nav ul li {
  display: inline-block;
  width: 80px;
  text-align: center;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr .active-row {
  font-weight: bold;
  color: #009879;
}

.login {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .box {
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  border-radius: 15px;
}

.login .box .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .box .login-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .box .login-details h2 {
  text-align: left;
  font-size: 40px;
  color: #156d74;
}

.login .box .login-details form {
  width: 100%;
}

.login .box .login-details form .input-details {
  width: 100%;
  border: 0px;
  padding: 10px 0;
  outline: none;
  border-bottom: 1px solid black;
}

.login .box .login-details form button {
  margin-top: 20px;
  width: 100%;
  padding: 12px 0;
  border: none;
  background-color: #2979ff;
  font-size: 20px;
  color: #fafafa;
  border-radius: 5px;
}

.login .box .login-details form button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#4701b8), to(#0d25fe));
  background-image: linear-gradient(to right, #4701b8, #0d25fe);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#input-article {
  width: 90%;
  margin: auto;
}

#input-article form {
  width: 100%;
}

#input-article .input-box input {
  width: 100%;
  padding: 8px 0;
  margin: 10px 0;
}

#input-article .input-box textarea {
  width: 100%;
  margin: 10px 0;
}

#input-article .btn-save {
  text-align: end;
  padding: 10px 40px;
  border: 0px;
  color: white;
  background-color: #009879;
  border-radius: 4px;
}

#input-article .btn-save:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-image: -webkit-gradient(linear, right top, left top, from(#009879), to(#027c64));
  background-image: linear-gradient(to left, #009879, #027c64);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */